data/
keys/
logs/
# results/
venvs/
.streamlit/secrets.toml
__pycache__/
.DS_Store

.*
!.gitignore
!.streamlit/

ai/
config/
qdrant_data/



*.json
# *.png
# *.html
*.tar
*.tar.bz2
*.csv

!evaluation/*_template.json
!evaluation/*_template.csv